body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #734f96;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Playfair Display', serif;
}

.date-section {
    text-align: center;
    margin-top: 2rem;
}

.date {
    font-size: 2.5rem;
    color: #333;
}

.location {
    font-size: 1.5rem;
    color: #555;
}

.cta-button {
    display: inline-block;
    background-color: #734f96;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    margin-top: 1rem;
}
.round {
    border-radius: 75px;
}

.cta-button:hover {
    background-color: #555;
}